# Aula de Analise Exploratoria

link:https://www.youtube.com/watch?v=2OXbbgvMrBA&list=PL9b3-0ePdcV4TW7Wv7FVOWVYroa-jTfZ7&index=4

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://github.com/neylsoncrepalde/introducao_ao_r/blob/master/dados/pes_2012.csv?raw=true")

In [6]:
df.head()

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,3000,3000,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,3000,3000,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,1100,1100,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,1100,1100,232
4,2012,Rondônia,Feminino,54,Branca,15 anos ou mais,NaN,460,232

In [16]:
df.shape

(362451, 9)

# Analisando Variaveis Qualitativas

In [21]:
df.V0302.value_counts()

Feminino     186054
Masculino    176397
Name: V0302, dtype: int64

In [25]:
df.V0302.value_counts() / df.shape[0] * 100

Feminino     51.33218
Masculino    48.66782
Name: V0302, dtype: float64

In [24]:
df.V0404.value_counts() / df.shape[0] * 100

Parda             47.932824
Branca            42.928561
Preta              8.310089
Amarela            0.427644
Indígena           0.395916
Sem declaração     0.004966
Name: V0404, dtype: float64

# Analise da Variaveis Quantitativas

In [ ]:
print("k")