# Aula de Analise Exploratoria

link:https://www.youtube.com/watch?v=2OXbbgvMrBA&list=PL9b3-0ePdcV4TW7Wv7FVOWVYroa-jTfZ7&index=4

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://github.com/neylsoncrepalde/introducao_ao_r/blob/master/dados/pes_2012.csv?raw=true")

In [4]:
df.head()

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,3000,3000,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,3000,3000,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,1100,1100,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,1100,1100,232
4,2012,Rondônia,Feminino,54,Branca,15 anos ou mais,NaN,460,232

In [5]:
df.shape

(362451, 9)

# Analisando Variaveis Qualitativas

In [6]:
df.V0302.value_counts()

Feminino     186054
Masculino    176397
Name: V0302, dtype: int64

In [7]:
df.V0302.value_counts() / df.shape[0] * 100

Feminino     51.33218
Masculino    48.66782
Name: V0302, dtype: float64

In [8]:
df.V0404.value_counts() / df.shape[0] * 100

Parda             47.932824
Branca            42.928561
Preta              8.310089
Amarela            0.427644
Indígena           0.395916
Sem declaração     0.004966
Name: V0404, dtype: float64

# Analise da Variaveis Quantitativas

In [9]:
df.V8005.mean() # Media

32.63801175883085

In [10]:
df.V8005.median() # Mediana

30.0

In [13]:
df.V8005.std()  # Desvio Padrao

20.77032627236747

In [28]:
df.V8005.describe() #Todos os Valores

count    362451.000000
mean         32.638012
std          20.770326
min           0.000000
25%          15.000000
50%          30.000000
75%          48.000000
max         117.000000
Name: V8005, dtype: float64

In [29]:
df.describe() # Todos os Valores, De todas as variasveis.

          V0101          V8005          V4729
count  362451.0  362451.000000  362451.000000
mean     2012.0      32.638012     543.183294
std         0.0      20.770326     260.364253
min      2012.0       0.000000     174.000000
25%      2012.0      15.000000     334.000000
50%      2012.0      30.000000     522.000000
75%      2012.0      48.000000     705.000000
max      2012.0     117.000000    1132.000000

In [30]:
df.dtypes # Ver tipos de variaveis

V0101     int64
UF       object
V0302    object
V8005     int64
V0404    object
V4803    object
V4718    object
V4720    object
V4729     int64
dtype: object

In [31]:
# -> Trabalhar com dataset Grandes modin , dask